<div class="board">
  <div data-grid="0,0" class="square"></div>
  <div data-grid="0,0" class="square"></div>
  <div data-grid="0,0" class="square"></div>
  <div data-grid="0,0" class="square"></div>
  <div data-grid="0,0" class="square"></div>
</div>
